.sel-file {
    padding: 1px 5px;
    font-size: smaller;
    color: grey;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}