<div class="container">

    <br>

    <div ng-controller="IndexController">
        <label for="input">FileInput</label>
        <input id="input" type="file" ng-file-select="onFileSelect($files)" accept=".log">
        <br>
        <label for="progress">Progress:</label>
        <div id="progress" class="sel-file" ng-repeat="file in selectedFiles">
				<span class="progress">
					<div style="width:{{progress}}%">{{progress}}%</div>
				</span>
        </div>
    </div>

</div>
<!-- /.container -->