<div class="container-fluid">
  <table class="table table-bordered table-striped table-hover">
    <br>
    <thead>
    <tr>
      <th>Data</th>
      <th>Unit</th>
      <th>Total</th>
      <th>Avg</th>
      <th>Max</th>
      <th>Min</th>
      <th>Median</th>
      <th>90th</th>
      <th>95th</th>
      <th>99th</th>
      <th>99.9th</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="statisticData in gcAnalyzerRun.statisticDataList">
      <td ng-cloak>{{statisticData.data}}</td>
      <td ng-cloak>{{statisticData.unit}}</td>
      <td ng-cloak>{{statisticData.statistic.total | number:2}}</td>
      <td ng-cloak>{{statisticData.statistic.average | number:2}}</td>
      <td ng-cloak>{{statisticData.statistic.max | number:2}}</td>
      <td ng-cloak>{{statisticData.statistic.min | number:2}}</td>
      <td ng-cloak>{{statisticData.statistic.median | number:2}}</td>
      <td ng-cloak>{{statisticData.statistic.ninetiethPercentile | number:2}}</td>
      <td ng-cloak>{{statisticData.statistic.ninetyFifthPercentile | number:2}}</td>
      <td ng-cloak>{{statisticData.statistic.ninetyNinthPercentile | number:2}}</td>
      <td ng-cloak>{{statisticData.statistic.ninetyNinePointNinthPercentile | number:2}}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Rate Type</th>
      <th>Rate (MB/sec)</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(key, value) in gcAnalyzerRun.rateMap">
      <td>{{key}}</td>
      <td>{{value}}</td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /.container -->
